/* @tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth transition */
/* body {
  transition: background 0.3s ease, color 0.3s ease;
} */ 

/* @import "tailwindcss";
 */
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  transition: background 0.3s ease, color 0.3s ease;
}

 /* LIGHT MODE */
body {
  background: #f8fafc;
  color: #0f172a;
}

/* DARK MODE */
.dark body {
   background: #020617;
  color: #e2e8f0;
} 

canvas {
  filter: drop-shadow(0 0 6px rgba(34,197,94,0.4));
}

/* 🔥 Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}
/* 🔥 DATE ICON WHITE FIX */
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}